<div class="row">
						<div class="active-recent-blog-carusel">
							{%for p in posts%}
                            
							<div class="single-recent-blog-post item">
								<div class="thumb">
									<img class="img-fluid" src="{{p.image.url}}" alt="">
								</div>
								<div class="details">
									<div class="tags">
										<ul>
											{%for tag in p.category.all %}	
                                            <li>
												<a href="{%url 'blog:category' cat_name=tag %}">{{tag}}</a>
											</li>	
                                            {%endfor%}									
										</ul>
									</div>
									<a href="{%url 'blog:single' pid=p.id%}"><h4 class="title">{{p.title}}</h4></a>
									<p>
										{{p.content|truncatewords:10}}
									</p>
									<h6 class="date">{{p.published_date|date:"Y M D"}}</h6>
								</div>	
							</div>
															
                            {%endfor%}
						</div>
					</div>